<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{% block title %}Dream lab{% endblock title %}</title>
    {% block head %}
    {% endblock head %}
  </head>
  <body background="{% static "images/index.jpg" %}">
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script type='text/javascript' src='{% static 'js/jquery.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/wp-embed.min.js' %}'></script>
    <script type='text/javascript' src='{% static 'js/jquery.nivo.slider.pack.js' %}'></script>
    {% block js %}
    {% endblock js %}
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #c2fdfa;">
      <a class="navbar-brand" href="#">云控制中心</a>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">首页 <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myvms/">我的虚拟机</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/registervm/">申请虚拟机</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/recovery/">重置环境</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0" action="/accounts/logout">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">退出登录</button>
        </form>
      </div>
    </nav>
  {% block body %}
  {% endblock body %}
  </body>
</html>
